body {
  font-family: 'Comfortaa', cursive;
}

h1 {
  text-align: center;
  margin-top: 25px;
}
p {
  text-align: center;
}
.form-control {
  margin-bottom: 25px;
}

.card {
  margin-top: 25px;
  border: 6px solid skyblue;
  padding: 12px;
}

.card h3 {
  text-align: center;

}